
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  



 .grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto; 
    grid-template-columns: 1fr; 
    height: 100vh; 
}


.grid-header {
    background-color: #34495e;
    color: #ecf0f1;
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
    padding: 20px;
}


.grid-header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.grid-header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.grid-header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid-header nav ul li {
    margin: 0 15px;
}

.grid-header nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1em;
}

  
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 40px;
}

.tableau {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

.tableau th, .tableau td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
}

.tableau th {
  background-color: #f0f0f0;
}

.tableau td ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tableau td ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.tableau td ul li:last-child {
  border-bottom: none;
}

.image {
  width: 20%;
  height: 200px;
  object-fit: cover;
  margin: 20px 0;
  max-width: 100%;
  max-height: 100%;
}

.social-icons
{
  margin: 10px 0;
}

  .grid-footer {
    background-color: #34495e;
    color: #ecf0f1;
    text-align: center;
    padding: 20px 0;
}

.grid-footer .social-icons {
    margin: 10px 0;
}

.grid-footer .social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.grid-footer .social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.grid-footer a {
    color: #ecf0f1;
    text-decoration: none;
}

.grid-footer a:hover {
    text-decoration: underline;
}
